body {
  padding: 20px;
  letter-spacing: 1px;
}

.event_register {
  font-family: Arial;
  margin-top: 30px;
}

.body{
  margin: 2rem;
}

h1 {
  display: inline-block;
  margin-bottom: 1rem;
}

#del-btn {
  float: right;
}
